* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    /*background: red;*/
    height: 100vh;
    flex-flow: column;
    font-size: 16px;

}

.header {
    /*background: greenyellow;*/
    outline: 1px solid greenyellow;
    height: 3rem;
}

.container {
    /*background: hotpink;*/
    display: flex;
    height: inherit;
}

.content {
    /*background: chocolate;*/
    outline: 1px solid chocolate;
    /*flex: 1;*/
    flex: 1 1 auto;
}

.aside {
    /*background: cyan;*/
    outline: 1px solid cyan;
    flex: 0 0 25%;
}

.footer {
    /*background: yellow;*/
    outline: 1px solid yellow;
    height: 6rem;
    margin-top: auto;
}

.Menu {
    display: flex;
}

.Menu-item {
    list-style: none;
    flex: 1;
    outline: 1px solid red;
    line-height: 3rem;
    text-align: center;
    transition: flex .5s;
}

.Menu-item:hover{
    flex:8;
}

